@charset "UTF-8";


main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center; 
  align-items: center; 
  background-color: rgb(231, 255, 230);
  height: auto;
  margin: 15px 0;
}

/* 전체 박스 */
.my-pickBox{
  display: flex;
  gap: 20px;
  margin: 15px 0;
}


/* 메인 왼쪽 박스 */
.my-leftbox{
  width: 350px;
  height: 700px;
  margin: 15px 0;
}

/* 메인 오른쪽 박스 */
.my-rightbox{
  width: 650px;
  height: auto;
  margin: 15px 0;
}

/* 메인 왼쪽 환영메세지 박스 */
.my-hello{
  background-color: white;
  width: 350px;
  height: 130px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

/* 환영메시지 인삿말 */
.my-wellcome{
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: green;
  margin: 15px 0;
}

/* 환영메세지 닉네임 */
.my-nickname{
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
}

/* 목록 박스 */
.my-category{
  background-color: white;
  max-width: 350px;
  height: 70%;
  border-radius: 15px;
  padding: 20px;
  margin: 15px 0;
}

/* 구분선 */
.my-line{
  background-color: black;
  height: 1px;
  width: 95%;
  margin: 0;
}

/* 마이페이지 목록 상세 */
.my-category-menu{
  background-color: white;
  font-size: 16px;
  margin: 15px 0;
}

/* ============================================= */


/* 찜목록확인 박스 */
.my-pick{
  background-color: white;
  max-width: 650px;
  height: 1200px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

/* 제목 : 찜목록 */
.my-pick-title{
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

/* 찜목록 표시 영역 */
.my-pick-center{
  background-color: white;
  width: 600px;
  height: 970px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

/* 찜목록 줄마다 크기 */
.my-pick-box{
  background-color: white;
  width: 600px;
  height: 300px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

/* 찜목록표시 크기 */
.my-pick-area{
  background-color: white;
  width: 190px;
  height: 300px;
  margin: 15px 0;
}

/* 찜목록 상단(제목 하트) */
.my-pick-textArea{
  background-color: white;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center ;
}

.my-pick-pictureArea{
  background-color: white;
  width: 190px;
  height: 240px;
  margin: 0;
  padding: 0;
}


.my-pick-name{
  background-color: white;
  width: auto;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

img{
  margin: 0;
  padding: 0;
}


/* 페이지네이션 */
.info-bg2 .bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin: 15px 0;
}

.info-bg2 .bottom-list .prev {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.info-bg2 .bottom-list a {
  color: #505050;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 30px;
  font-size: 12px;
  height: 30px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.info-bg2 .bottom-list a.on {
  font-weight: bold;
  color: #ff7864;
  background: #fff6f4;
}

.info-bg2 .bottom-list .prev {
  content: '';
  background: url('../../images/prev.png') no-repeat center;
  display: inline-block;
  background-size: contain;
  width: 6px;
  height: 10px;
}

.info-bg2 .bottom-list .next {
  content: '';
  background: url('../../images/next.png') no-repeat center;
  display: inline-block;
  background-size: contain;
  width: 6px;
  height: 10px;
}
li::marker {
  display: none;
}
li::marker {
  content: '';
}

a {
  color: black; 
  text-decoration: none; 
}

a:visited {
  color: black;
}