@charset "UTF-8";


main {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 255, 230);
  margin: 15px 0;
}

/* 전체 박스 */
.my-quitBox {
  display: flex;
  gap: 20px;
  margin: 15px 0;
}

/* 메인 왼쪽 박스 */
.my-leftbox {
  width: 350px;
  height: 700px;
  margin: 15px 0;
}

/* 메인 오른쪽 박스 */
.my-rightbox {
  width: 650px;
  height: auto;
  margin: 15px 0;
}

/* 메인 왼쪽 환영메세지 박스 */
.my-hello {
  background-color: white;
  width: 350px;
  height: 130px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

/* 환영메시지 인삿말 */
.my-wellcome {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: green;
  margin: 15px 0;
}

/* 환영메세지 닉네임 */
.my-nickname {
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
}

/* 목록 박스 */
.my-category {
  background-color: white;
  max-width: 350px;
  height: 70%;
  border-radius: 15px;
  padding: 20px;
  margin: 15px 0;
}

/* 구분선 */
.my-line {
  background-color: black;
  height: 1px;
  width: 95%;
  margin: 0;
}

/* 마이페이지 목록 상세 */
.my-category-menu {
  background-color: white;
  font-size: 16px;
  margin: 15px 0;
}

/* ============================= */

/* 회원탈퇴 */
.my-quit {
  background-color: white;
  max-width: 650px;
  height: 600px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

/* 회원탈퇴 제목 */
.my-quit-title {
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
}

.my-quit-category {
  background-color: white;
  display: flex;
  gap: 20px;
  margin: 5px 0;
}

.my-quit-subtitle {
  background-color: white;
  width: 100px;
  height: 20px;
  align-content: center;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
}

.my-quit-message {
  background-color: white;
  width: 350px;
  height: auto;
  align-content: center;
  font-size: 13px;
  margin: 5px 0;
}

.my-quit-center {
  background-color: white;
  margin: 5px 0;
}

.AgreeMsg {
  background-color: white;
  border: 1px solid gainsboro;
  width: 220px;
  height: 30px;
  margin: 5px 0;
}


/* 탈퇴확인버튼 */
.my-button-quit {
  background-color: #2BCF81;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  width: 180px;
  height: 40px;
  font-size: 16px;
  margin: 15px 0;
}

/* 탈퇴취소버튼 */
.my-button-back {
  background-color: white;
  color: #2BCF81;
  border-radius: 15px;
  border: 1px solid gainsboro;
  cursor: pointer;
  width: 180px;
  height: 40px;
  font-size: 16px;
  margin: 15px 0;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

/* 경고메세지 숨기기 */
.my-quit-result {
  display: none;
}