@charset "UTF-8";

main{
  background-color:white;
  width: 1060px;
  height: 800px;
  margin: auto;
}

/* 아이디찾기 */
.login-find h3{
  margin-left: 416px;
  padding: 25px;
  font-size: 32px;
}

.container{
  display: flex;
  flex-direction: column;
  width: 580px;
  height: 330px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  gap: 15px;
}
/*이름*/
.name{
  font-size: 16px;
  margin-right: 35px;
  margin-bottom: -2px;
  margin-top: 20px;
}
/* 이름 입력칸 */
#username{
  width: 330px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
}
/*번호*/
.p-number{
  font-size: 16px;
  margin-right: -38px;
  margin-bottom: 9px;
  margin-top: 10px;
}
/* 번호 입력칸 */
#user-p-number{
  width: 330px;
  height: 50px;
  background-color:white;
  border-radius: 10px;
}
/* 인증번호 받기 버튼 */
.p-number-button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
}


/*휴대폰번호 인증 입력 칸 */
#p-number-ok-box{
  width: 330px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
}



/*인증번호 입력 */
.p-number-ok{
  width: 330px;
  height: 50px;
  background-color:white;
  border-radius: 10px;
  margin-left: -6px;
}

/*확인버튼*/
.login-ok{
  width: 340px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #2BCF81;
  background-color: #2BCF81;
}

/*링크*/
a{
  color: black;
  text-decoration: none;
  text-decoration-line: none;
}
