@charset "UTF-8";

.wrapper {
    position: relative;
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.contents {
    width: 900px;
}

.container {
    width: 900px;
}

#header-box {
    border: 1px solid #C0C0C0;
    margin-bottom: 10px;
    text-align: left;
    width: 900px;
}

#header-box .bbs-title {
    padding: 0 10px;
    height: 29px;
    background: linear-gradient(#faf9f9, #f3f2f2);
    display: flex;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
}

#header-box .desc {
    display: inline-block;
    padding: 10px 5px 10px 12px;
    border-top: 1px solid #C1C1C1;
    color: #606060;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
}

.top-inp.title {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

/* Summernote 에디터 스타일 조정 */
.note-editor.note-frame {
    border: 1px solid #ccc;
}

.note-editing-area {
    background-color: #fff;
}

.tempas-bt01 {
    background-color: #2BCF81;
    width: 100px;
    height: 40px;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    border: none;
    cursor: pointer;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 900px) {
    .wrapper, .contents, .container, #header-box {
        width: 100%;
    }
}