@charset "UTF-8";

.comu-modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.comu-modal-content {
  background-color: #fff;
  border-radius: 10px;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.comu-close {
  color: #888;
  float: right;
  font-size: 24px;
  font-weight: bold;
}

.comu-modal-content h2 {
  margin: 0 0 15px;
  font-size: 20px;
  color: #333;
}

.comu-modal-content p {
  font-size: 16px;
  color: #555;
}

.comu-modal-content button {
  background-color: #2bcf81; /* 확인 버튼 색상 */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comu-modal-content .notice-cancel-btn {
  background-color: #2bcf81; /* 취소 버튼 색상 */
}
