@charset "UTF-8";

a {
    text-decoration: none;
    color: #666;
}

h4 {
    font-size: 30px;
    font-weight: 700;
    color: #222;
    padding: 25px 0px 25px 0px;
}

.location {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    padding: 20px 0px 20px 20px;
    font-size: 16px;
    color: #666;
    box-sizing: border-box;
    background: url(../../images/home.png) no-repeat 0px 22px;
    background-size: 21px auto;
}

.location span.ar {
    padding: 0 15px 0 20px;
}

.location span {
    font-weight: 700;
    font-size: 18px;
    color: #555;
}

.box-detail-content {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    color: #333;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    padding: 20px 0px 20px 20px;
}


.sub-contents .sub-contents-inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 0px;
}