@charset "UTF-8";

.location {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
    padding: 20px 0px 20px 20px;
    font-size: 16px;
    color: #666;
    box-sizing: border-box;
    background: url(../../images/home.png) no-repeat 0px 22px;
    background-size: 21px auto;
}

.location span.ar {
    padding: 0 15px 0 20px;
}

.location span {
    font-weight: 700;
    font-size: 18px;
    color: #555;
}

h1{
    font-size:36px;
}

h2{
    font-size:24px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #666;
}

.hotplace-contents-wrapper {
    display: flex;
    gap:200px;
    width: 100%;
    max-width: 1200px;
    height: 600px;
    margin: 20px auto 0 auto;
    padding: 20px 0px 20px 20px;
    font-size: 16px;
    box-sizing: border-box;
    border-bottom: 2px solid gray;
}

.img-wrapper{
    display: flex;
    height: 500px;
    background-color: gray;
    align-items: center;
    justify-content: center;
}

.hotplace-content-left{
    width: 400px;
}

.hotplace-content-right{
    width: 500px;
    padding-top: 24px;
    position: relative
}

.hotplace-content-right-text{
    margin-top: 100px;
}

.hotplace-content-right-button{
    display: flex;
    position: absolute;
    bottom: 20%;
    width: 100%;
}

.bottom-search{
    display: flex;
    justify-content: center;
  }
  
  #command-bg3 .info-bg, #revolution-main-table.pic-bg {
    position: relative;
  }
  
  .info-bg2 .bottom-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .info-bg2 .bottom-list .prev {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .info-bg2 .bottom-list a {
    color: #505050;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 30px;
    font-size: 12px;
    height: 30px;
    margin-top: 10px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .info-bg2 .bottom-list a.on {
    font-weight: bold;
    color: #ff7864;
    background: #fff6f4;
  }
  
  .info-bg2 .bottom-list .prev {
    content: "";
    background: url('../../images/prev.png') no-repeat center;
    display: inline-block;
    background-size: 6px 10px;
    width: 30px;
    height: 30px;
  }
  
  .info-bg2 .bottom-list .next {
    content: "";
    background: url('../../images/next.png') no-repeat center;
    display: inline-block;
    background-size: 6px 10px;
    width: 30px;
    height: 30px;
  }
