<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hotplace">
	<select id="showInfo" parameterType="String"
		resultType="HotplaceDTO">
		select hp.hotplace_number, hp.hotplace_station,
		hp.hotplace_title,
		hp.hotplace_hours, hp.hotplace_address,
		hp.hotplace_link,
		hp.hotplace_rest_number,
		hp.hotplace_attraction_number,
		hr.hotplace_rest_cuisine,
		hr.hotplace_rest_menu,
		ha.hotplace_attraction_content
		from tbl_hotplace
		hp
		left join tbl_hotplace_rest hr on hp.hotplace_rest_number =
		hr.hotplace_rest_number
		left join tbl_hotplace_attraction ha on
		hp.hotplace_attraction_number =
		ha.hotplace_attraction_number
		where
		hp.hotplace_station = #{station}
		order by hp.hotplace_number
	</select>
	<select id="checkLike" parameterType="LikeDTO"
		resultType="LikeDTO">
		select l.member_number, l.hotplace_number
		from tbl_like l
		join tbl_hotplace h on h.hotplace_number = l.hotplace_number
		join tbl_member m on l.member_number = m.member_number
		where l.member_number = #{memberNumber}
	</select>
	<insert id="pickHotplace" parameterType="LikeDTO">
		INSERT INTO TBL_LIKE (HOTPLACE_NUMBER, MEMBER_NUMBER)
		VALUES (#{hotplaceNumber}, #{memberNumber})
	</insert>
	<delete id="unpickHotplace" parameterType="LikeDTO">
		DELETE FROM TBL_LIKE
		WHERE HOTPLACE_NUMBER = #{hotplaceNumber} AND MEMBER_NUMBER =
		#{memberNumber}
	</delete>
</mapper>