<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">
	<!-- 쿠키/세션 -->

	<!-- 검색-커뮤니티 -->
	<select id="selectcm" resultType="MainDTO">
		SELECT
		TB.BOARD_NUMBER,
		TB.BOARD_TITLE,
		TB.BOARD_CONTENT,
		TB.BOARD_CATE,
		TB.BOARD_REGIST_DATE,
		(SELECT COUNT(*) FROM TBL_COMMENT TC WHERE TC.BOARD_NUMBER =
		TB.BOARD_NUMBER)
		AS COMMENT_COUNT,
		(SELECT COUNT(*) FROM TBL_RECOMMEND
		TR WHERE TR.BOARD_NUMBER =
		TB.BOARD_NUMBER) AS RECOMMEND_COUNT
		FROM
		TBL_BOARD TB
		WHERE
		(TB.BOARD_TITLE LIKE '%' || #{searchInput} || '%' OR
		TB.BOARD_CONTENT LIKE '%' ||
		#{searchInput} || '%')
		ORDER BY
		RECOMMEND_COUNT DESC
	</select>

	<select id="selecthp" resultType="MainDTO">
		SELECT TH.HOTPLACE_STATION
		,TH.HOTPLACE_TITLE ,
		TH.HOTPLACE_HOURS
		,TH.HOTPLACE_ADDRESS
		,TH.HOTPLACE_LINK
		,THA.HOTPLACE_ATTRACTION_CONTENT
		,THR.HOTPLACE_REST_CUISINE ,
		THR.HOTPLACE_REST_MENU
		FROM TBL_HOTPLACE TH
		LEFT JOIN
		TBL_HOTPLACE_ATTRACTION THA ON TH.HOTPLACE_ATTRACTION_NUMBER
		=
		THA.HOTPLACE_ATTRACTION_NUMBER
		LEFT JOIN TBL_HOTPLACE_REST THR ON
		TH.HOTPLACE_REST_NUMBER =
		THR.HOTPLACE_REST_NUMBER
		WHERE
		(TH.HOTPLACE_STATION LIKE '%' ||
		#{searchInput} || '%' OR
		TH.HOTPLACE_TITLE LIKE '%' ||
		#{searchInput} || '%' OR
		THA.HOTPLACE_ATTRACTION_CONTENT LIKE '%' ||
		#{searchInput} || '%' OR
		THR.HOTPLACE_REST_CUISINE LIKE '%' ||
		#{searchInput} || '%' OR
		THR.HOTPLACE_REST_MENU LIKE '%' ||
		#{searchInput} || '%')
		AND
		HOTPLACE_NUMBER BETWEEN 1 AND 5
	</select>

	<select id="selectno" resultType="MainDTO">
		SELECT NOTICE_NUMBER , NOTICE_CATE ,NOTICE_TITLE ,NOTICE_CONTENT
		,NOTICE_REGIST_DATE
		FROM TBL_NOTICE TN
		WHERE NOTICE_CATE LIKE '%' ||
		#{searchInput} || '%' OR NOTICE_TITLE LIKE '%' ||
		#{searchInput} || '%' OR NOTICE_CONTENT LIKE '%' ||
		#{searchInput} ||
		'%'
		ORDER BY NOTICE_TITLE
	</select>

	<!-- 메인페이지 커뮤니티 컨텐츠 -->
	<select id="cmlist" resultType="MainDTO">
		SELECT
		TB.BOARD_NUMBER,
		tb.BOARD_TITLE ,
		tm.MEMBER_NICKNAME ,
		COUNT(DISTINCT tR.MEMBER_NUMBER)
		AS
		RECOMMEND_COUNT,
		tB.BOARD_CONTENT,
		tb.BOARD_REGIST_DATE
		FROM
		TBL_BOARD
		TB
		LEFT JOIN
		TBL_MEMBER TM ON tb.member_number = TM.member_number
		LEFT
		JOIN
		TBL_RECOMMEND TR ON tb.board_number = TR.board_number
		WHERE
		tb.BOARD_NUMBER BETWEEN 1 and 4
		GROUP BY
		tB.BOARD_NUMBER,
		tB.BOARD_TITLE,
		tB.BOARD_CONTENT,
		tM.MEMBER_NUMBER,
		tm.MEMBER_NICKNAME,
		tb.BOARD_REGIST_DATE
		ORDER BY
		recommend_count DESC

	</select>

	<select id="hplist1" resultType="MainDTO">
		SELECT MEMBER_number,
		HOTPLACE_NUMBER, MEMBER_NICKNAME, HOTPLACE_STATION, HOTPLACE_TITLE,
		HOTPLACE_LINK, LIKE_COUNT
		FROM (
		SELECT TM.MEMBER_NUMBER,
		TH.HOTPLACE_NUMBER, TM.MEMBER_NICKNAME,
		TH.HOTPLACE_STATION,
		TH.HOTPLACE_TITLE, th.HOTPLACE_LINK,
		COUNT(TH.HOTPLACE_NUMBER) AS
		like_count,
		ROW_NUMBER() OVER (ORDER BY COUNT(TH.HOTPLACE_NUMBER) DESC)
		AS rank
		FROM TBL_HOTPLACE TH
		LEFT JOIN TBL_LIKE TL ON TL.HOTPLACE_NUMBER
		= TH.HOTPLACE_NUMBER
		LEFT JOIN TBL_MEMBER TM ON TM.MEMBER_NUMBER =
		TH.MEMBER_NUMBER
		GROUP BY TH.HOTPLACE_NUMBER,
		TH.HOTPLACE_TITLE,
		TH.HOTPLACE_STATION,
		TM.MEMBER_NICKNAME,
		TM.MEMBER_NUMBER,
		th.HOTPLACE_LINK
		) RANKLIKE
		WHERE rank BETWEEN 1 AND 4
	</select>

	<select id="hplist2" resultType="MainDTO">
		SELECT MEMBER_number,
		HOTPLACE_NUMBER, MEMBER_NICKNAME, HOTPLACE_STATION, HOTPLACE_TITLE,
		HOTPLACE_LINK, LIKE_COUNT
		FROM (
		SELECT TM.MEMBER_NUMBER,
		TH.HOTPLACE_NUMBER, TM.MEMBER_NICKNAME,
		TH.HOTPLACE_STATION,
		TH.HOTPLACE_TITLE, th.HOTPLACE_LINK,
		COUNT(TH.HOTPLACE_NUMBER) AS
		like_count,
		ROW_NUMBER() OVER (ORDER BY COUNT(TH.HOTPLACE_NUMBER) DESC)
		AS rank
		FROM TBL_HOTPLACE TH
		LEFT JOIN TBL_LIKE TL ON TL.HOTPLACE_NUMBER
		= TH.HOTPLACE_NUMBER
		LEFT JOIN TBL_MEMBER TM ON TM.MEMBER_NUMBER =
		TH.MEMBER_NUMBER
		GROUP BY TH.HOTPLACE_NUMBER,
		TH.HOTPLACE_TITLE,
		TH.HOTPLACE_STATION,
		TM.MEMBER_NICKNAME,
		TM.MEMBER_NUMBER,
		th.HOTPLACE_LINK
		) RANKLIKE
		WHERE rank BETWEEN 5 AND 8
	</select>

	<select id="likecheck" resultType="MainDTO">
		SELECT TL.MEMBER_NUMBER
		,TL.HOTPLACE_NUMBER
		FROM TBL_HOTPLACE TH
		LEFT JOIN TBL_LIKE TL ON
		TL.HOTPLACE_NUMBER
		=
		TH.HOTPLACE_NUMBER
		LEFT JOIN TBL_MEMBER TM ON
		TM.MEMBER_NUMBER =
		TH.MEMBER_NUMBER
		WHERE tl.MEMBER_NUMBER =
		#{memberNumber}
	</select>

	<insert id="pickhp" parameterType="MainDTO">
		INSERT INTO TBL_LIKE
		(HOTPLACE_NUMBER, MEMBER_NUMBER)
		VALUES (#{hotplaceNumber},
		#{memberNumber})
	</insert>

	<delete id="unpickhp" parameterType="MainDTO">
		DELETE FROM TBL_LIKE
		WHERE
		HOTPLACE_NUMBER = #{hotplaceNumber} AND
		MEMBER_NUMBER =
		#{memberNumber}
	</delete>
</mapper>