<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<!-- 내프로필 -->
	<select id="myprofile" parameterType="MypageDTO" resultType="MypageDTO">
		SELECT MEMBER_EMAIL , MEMBER_NAME,MEMBER_NICKNAME,MEMBER_PHONE,MEMBER_GENDER,MEMBER_BIRTH
		FROM TBL_MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
      		AND MEMBER_NAME = #{memberName}
     		AND MEMBER_NICKNAME = #{memberNickName}
      		AND MEMBER_PHONE = #{memberPhone}
      		AND MEMBER_GENDER = #{memberGender}
      		AND MEMBER_BIRTH = #{memberBirth}
	</select>
   <!-- 개인정보 수정 전 아이디,비밀번호 확인 -->
   <select id="pwOk" parameterType="String" resultType="int">
		SELECT count(MEMBER_Name)
		FROM TBL_MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PW = #{memberPw}
	</select>
	
	<!-- 닉네임 중복값 확인 -->
  	<select id="MycheckNicknameOk" parameterType="String" resultType="int">
		SELECT COUNT(MEMBER_NICKNAME)
		FROM TBL_MEMBER
		WHERE MEMBER_NICKNAME = #{memberNickName}
	</select>
	
	<!-- 업데이트 -->
	<update id="MypageUpdate" parameterType="MypageDTO" >
    UPDATE TBL_MEMBER
    SET MEMBER_NICKNAME = #{memberNickName},
        MEMBER_PW = #{memberPw},
        MEMBER_NAME = #{memberName},
        MEMBER_PHONE = #{memberPhone},
        MEMBER_GENDER = #{memberGender},
        MEMBER_BIRTH = #{memberBirth},
        MEMBER_TERMS = #{memberTerms}
    WHERE MEMBER_NUMBER = #{memberNumber}
</update>

<!--회원정보 수정(아이디 비밀번호가 일치할시 회원번호, 아이디, 비밀번호, 회원이름을 DTO로 보내 쿠키와 세션에 저장 -->
	<select id="MypageUpdateOk" parameterType="MypageDTO"
		resultType="MypageDTO">
		SELECT member_number, member_nickname, member_email, member_name, member_phone, member_gender, member_birth, member_pw
		FROM tbl_member
		WHERE member_number = #{memberNumber}
	</select>
</mapper>