<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="showList" parameterType="List"
		resultType="NoticeDTO">
		SELECT
		N.NOTICE_CATE,
		N.NOTICE_TITLE,
		N.MEMBER_NUMBER,
		N.NOTICE_REGIST_DATE
		FROM
		TBL_NOTICE N
		JOIN
		TBL_MEMBER M
		ON
		N.MEMBER_NUMBER = M.MEMBER_NUMBER
		ORDER BY
		N.NOTICE_REGIST_DATE DESC
	</select>

	<select id="showDetail" parameterType="Datail"
		resultType="com.pj224.app.dto.NoticeDTO">
		SELECT
		N.NOTICE_CATE,
		N.NOTICE_TITLE,
		M.MEMBER_NUMBER,
		N.NOTICE_REGIST_DATE,
		N.NOTICE_CONTENT
		FROM
		TBL_NOTICE N
		JOIN
		TBL_MEMBER M
		ON
		N.MEMBER_NUMBER = M.MEMBER_NUMBER
		ORDER BY
		N.NOTICE_REGIST_DATE DESC
	</select>

</mapper>
