<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="showList" parameterType="string" resultType="notice.dto.NoticeDTO">
		SELECT
	    N.NOTICE_CATE,
	    N.NOTICE_TITLE,
	    M.MEMBER_NICKNAME,
	    N.NOTICE_REGIST_DATE
	FROM
	    TBL_NOTICE N
	JOIN
	    TBL_MEMBER M
	ON
	    N.MEMBER_NUMBER = M.MEMBER_NUMBER
	ORDER BY
	    N.NOTICE_REGIST_DATE DESC;
   
	</select>

	<insert id="write" parameterType="NoticeDTO">
		INSERT INTO TBL_NOTICE (NOTICE_NUMBER, NOTICE_CATE, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_REGIST_DATE, MEMBER_NUMBER)
		VALUES(SEQ_NOTICE.NEXTVAL, #{noticeCate}, #{noticeTitle}, #{noticeContent}, #{noticeRegistDate}, #{memberNumber})
	</insert>



	<!-- 쿠키/세션 -->
	<select id="login" parameterType="memberDTO"
		resultType="memberDTO">
		SELECT member_number, member_id, member_password,
		member_name, member_age, member_gender
		FROM tbl_member
		WHERE member_id =
		#{memberId} AND member_password = #{memberPassword}
	</select>
</mapper>
