<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 카멜 케이스 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<!-- 쿼리결과 필드가 null인 경우 누락되지 않도록 설정 -->
		<setting name="callSettersOnNulls" value="true" />

		<!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
	
	
	
	
		<typeAlias type="com.pj224.app.dto.NoticeDTO" alias="NoticeDTO" />
	
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver"></property>
				<property name="url"
					value="jdbc:oracle:thin:@Localhost:1521"></property>
				<property name="username" value="project224" />
				<property name="password" value="1234" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
	
		<mapper resource="com/mybatis/mapper/NoticeMapper.xml" />
	</mappers>

</configuration>