@charset "UTF-8";
/* 페이지 메인 파트 */
.notice-addetail-all {
  width: 1060px;
  margin: 0 auto;
}

/* 메인 상단부 '공지사항' 파트 컨테이너 */
.notice-addetail-top {
  width: 100%;
  padding: 50px 0px;
}

/* '공지사항' */
.notice-addetail-txt {
  font-weight: 700;
  font-size: 28px;
  color: rgb(51, 51, 51);
  line-height: 35px;
  text-align: center;
  letter-spacing: -1px;
}

/* 게시글 컨테이너 */
.notice-addetail-main {
	width: 1000px;
  margin-top: 20px;
  border-top: 2px solid rgb(51, 51, 51);
  color: rgb(51, 51, 51);
}

/* 제목/작성자/작성일 컨테이너 */
.notice-addetail-content {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(244, 244, 244);
}

/* 제목/작성자/작성일 */
.notice-addetail-tcontent {
  width: 130px;
  padding: 13px 0px 13px 20px;
  background-color: rgb(247, 245, 248);
  border-top: 1px solid rgb(244, 244, 244);
  text-align: left;
  font-weight: 500;
}

/* 제목/작성자/작성일 상세내용 */
.notice-addetail-ttxt {
  padding-left: 25px;
  align-self: center;
}

/* 게시글 상세 내용 파트 */
.notice-addetail-maincont {
  width: 130px;
  padding: 30px 10px 100px;
  /*border-bottom: 1px solid rgb(128, 128, 128);*/
}

.notice-addetail-maincont p{
	width: 1000px;
}


/* '목록' 버튼 파트 컨테이너 */
.notice-addetail-btuall {
  display: flex;
  width: 100%;
  padding: 20px 0px;
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
}

.notice-addetail-btuall a{
  	color: rgb(255, 255, 255);
	text-decoration-line: none;
}

/* '목록' 버튼 */
.notice-addetail-btu {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: #2bcf81;
  border: 0px none;
  cursor: pointer;
}


.notice-addetail-modi {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: #2bcf81;
  border: 0px none;
  transform: translate(-750px, 0px);
  cursor: pointer;
}

.notice-addetail-del {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 80px;
  height: 40px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: #2bcf81;
  border: 0px none;
  transform: translate(-740px, 0px);
  cursor: pointer;
}

